#alert {
  height: 1000px;
  z-index: 500;
}

.leaflet-container {
  z-index: 0;
  overflow: hidden;
}

@media only screen and (max-width: 435px) {
  #map {
    height: calc(100vh - 80px);
  }
}

#mapContainer {
  height: 100%;
}

#map {
  height: 900px;
  transition: margin-left 0.5s;
}

/* #tramDropdown {
overflow: auto;
 } */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden; 
  transition: 0.5s;
  padding-top: 30px;
}

#sidebarButton {
  position: fixed;
  top: 100px;
  left: 10px;
  z-index: 1;
  font-size: 26px;
  /* margin-top: '4px'; */
}

#distanceOnMap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 26px;
  margin-top: '4px';
}
#durationOnMap {
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 1;
  font-size: 26px;
  margin-top: '4px';
}
#alarmButtonOnMap {
  position: fixed;
  top: 80px;
  right: 0;
  z-index: 1;
  margin-top: '4px';
}
#alarmButton {
  height: 60px;
}

.btn-outline-secondary {
  width: 100%;
}
.btn-outline-danger {
  width: 100%;
}
.btn-success {
  width: 100%;
}

.sideText {
  background-color: #6c757d;
  color: #ffffff;
  /* padding-left: 12px;
  padding-right: 12px; */
}

.trams {
  z-index: 10;
}
.stops {
  z-index: 5;
}
