#alert {
  height: 1000px;
  z-index: 500;
}
 
/* @media only screen and (max-width: 435px) {
   #map {
    height: calc(100vh);
  }  
}
  
#map {
  height: 900px;
  transition: width 0.5s;
} */

.leaflet-container {
  height:900px;
  z-index: 0;
}

@media only screen and (max-width: 435px){

  .leaflet-container {

    height:calc(100vh);
  }
}
 

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden; 
  transition: 0.5s;
  padding-top: 30px;
}

#sidebarButton {
  position: fixed;
  top: 100px;
  left: 12px;
  z-index: 1;
  font-size: 36px;
  border-style: solid;
  border-radius:7px;
  border-width:1px;
  padding:7px
  /* margin-top: '4px'; */
}
#sidebarButton:hover{
  color:white;
  background-color: gray;
}

#distanceOnMap {
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 1;
  font-size: 23px;
  margin-top: '4px'; 
  color: black; 
}
#durationOnMap {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1;
  font-size: 23px;
  margin-top: '4px';
}
#alarmButtonOnMap {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 1;
  margin-bottom: '4px';
  size: 13px
}

#centerButtonOnMap {
  position: fixed;
  top: 300px;
  right: 8px;
  z-index: 1;
  margin-top: '4px'; 
}

#tramButtonOnMap{
  position: fixed;
  top: 200px;
  right: 8px;
  z-index: 1;
  margin-top: '4px'; 
}

#alarmButton {
  height: 60px;
}

.btn-outline-secondary {
  width: 100%;
}
.btn-outline-danger {
  width: 100%;
}
.btn-success {
  width: 100%;
}

.sideText {
  background-color: #6c757d;
  color: #ffffff;
  /* padding-left: 12px;
  padding-right: 12px; */
}

.trams {
  z-index: 10;
}
.stops { 
  z-index: 5;
}

#dropdown-chooseStop{
  font-size: 12px
}
 
