#alert {
  height: 1000px
}
 

.leaflet-container {
  z-index: 0;
  overflow: hidden;
}

@media only screen and (max-width: 435px) {
  #map {
    height: calc(100vh - 80px);
  }
}

#mapContainer {
  height: 100%;
}

#map {
  height: 900px;
  transition: margin-left 0.5s;
}

/* #tramDropdown {
overflow: auto;
 } */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;  
}

.btn-secondary {
  width:100%
}
.btn-warning {
  width:100%
}

 .sideText {
  background-color: #6c757d;
  color: #FFFFFF;
  /* padding-left: 12px;
  padding-right: 12px; */
}
